# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Dependências, caso no futuro uses npm
node_modules/

# Build, caso no futuro uses ferramentas como Vite/Webpack
dist/
build/

# Ambiente
.env
.env.local

# Arquivos temporários
*.tmp
*.temp